<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762585533377-o23040gb34142f1oh6kodvjedmog5ij9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762585533377-o23040gb34142f1oh6kodvjedmog5ij9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>762585533377-5r8bsnd63shhupfg868f3mjkba2t2eee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAg492zuoBn7Dbv4bGlHQO_YuFBJJiuTrc</string>
	<key>GCM_SENDER_ID</key>
	<string>762585533377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user.networkUpp</string>
	<key>PROJECT_ID</key>
	<string>halllaq</string>
	<key>STORAGE_BUCKET</key>
	<string>halllaq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762585533377:ios:7933041e10ae3250b0bd40</string>
</dict>
</plist>